<form method="post" action="{{ path('cp_ville_delete', {'idville': cp_ville.idville}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cp_ville.idville) }}">
    <button class="btn">Delete</button>
</form>
