{% extends 'base.html.twig' %}

{% block title %}Edit CpVille{% endblock %}

{% block body %}
    <h1>Edit CpVille</h1>

    {{ include('cp_ville/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cp_ville_index') }}">back to list</a>

    {{ include('cp_ville/_delete_form.html.twig') }}
{% endblock %}
