{% extends 'base.html.twig' %}

{% block title %}CpVille index{% endblock %}

{% block body %}
    <h1>CpVille index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idville</th>
                <th>PostalCode</th>
                <th>Town</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cp_ville in cp_villes %}
            <tr>
                <td>{{ cp_ville.idville }}</td>
                <td>{{ cp_ville.postalCode }}</td>
                <td>{{ cp_ville.town }}</td>
                <td>
                    <a href="{{ path('cp_ville_show', {'idville': cp_ville.idville}) }}">show</a>
                    <a href="{{ path('cp_ville_edit', {'idville': cp_ville.idville}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cp_ville_new') }}">Create new</a>
{% endblock %}
