{% extends 'base.html.twig' %}

{% block title %}New CpVille{% endblock %}

{% block body %}
    <h1>Create new CpVille</h1>

    {{ include('cp_ville/_form.html.twig') }}

    <a href="{{ path('cp_ville_index') }}">back to list</a>
{% endblock %}
