{% extends 'base.html.twig' %}

{% block title %}CpVille{% endblock %}

{% block body %}
    <h1>CpVille</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idville</th>
                <td>{{ cp_ville.idville }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ cp_ville.postalCode }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ cp_ville.town }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cp_ville_index') }}">back to list</a>

    <a href="{{ path('cp_ville_edit', {'idville': cp_ville.idville}) }}">edit</a>

    {{ include('cp_ville/_delete_form.html.twig') }}
{% endblock %}
