<form method="post" action="{{ path('caract_objets_delete', {'idobject': caract_objet.idobject}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ caract_objet.idobject) }}">
    <button class="btn">Delete</button>
</form>
