{% extends 'base.html.twig' %}

{% block title %}Edit CaractObjets{% endblock %}

{% block body %}
    <h1>Edit CaractObjets</h1>

    {{ include('caract_objets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('caract_objets_index') }}">back to list</a>

    {{ include('caract_objets/_delete_form.html.twig') }}
{% endblock %}
