{% extends 'base.html.twig' %}

{% block title %}CaractObjets index{% endblock %}

{% block body %}
    <h1>CaractObjets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caract_objet in caract_objets %}
            <tr>
                <td>{{ caract_objet.value }}</td>
                <td>
                    <a href="{{ path('caract_objets_show', {'idobject': caract_objet.idobject}) }}">show</a>
                    <a href="{{ path('caract_objets_edit', {'idobject': caract_objet.idobject}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('caract_objets_new') }}">Create new</a>
{% endblock %}
