{% extends 'base.html.twig' %}

{% block title %}New CaractObjets{% endblock %}

{% block body %}
    <h1>Create new CaractObjets</h1>

    {{ include('caract_objets/_form.html.twig') }}

    <a href="{{ path('caract_objets_index') }}">back to list</a>
{% endblock %}
