{% extends 'base.html.twig' %}

{% block title %}CaractObjets{% endblock %}

{% block body %}
    <h1>CaractObjets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Value</th>
                <td>{{ caract_objet.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('caract_objets_index') }}">back to list</a>

    <a href="{{ path('caract_objets_edit', {'idobject': caract_objet.idobject}) }}">edit</a>

    {{ include('caract_objets/_delete_form.html.twig') }}
{% endblock %}
