<form method="post" action="{{ path('keys_delete', {'idkeys': key.idkeys}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ key.idkeys) }}">
    <button class="btn">Delete</button>
</form>
