{% extends 'base.html.twig' %}

{% block title %}Edit Keys{% endblock %}

{% block body %}
    <h1>Edit Keys</h1>

    {{ include('keys/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('keys_index') }}">back to list</a>

    {{ include('keys/_delete_form.html.twig') }}
{% endblock %}
