{% extends 'base.html.twig' %}

{% block title %}Keys index{% endblock %}

{% block body %}
    <h1>Keys index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idkeys</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key in keys %}
            <tr>
                <td>{{ key.idkeys }}</td>
                <td>{{ key.name }}</td>
                <td>
                    <a href="{{ path('keys_show', {'idkeys': key.idkeys}) }}">show</a>
                    <a href="{{ path('keys_edit', {'idkeys': key.idkeys}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('keys_new') }}">Create new</a>
{% endblock %}
