{% extends 'base.html.twig' %}

{% block title %}New Keys{% endblock %}

{% block body %}
    <h1>Create new Keys</h1>

    {{ include('keys/_form.html.twig') }}

    <a href="{{ path('keys_index') }}">back to list</a>
{% endblock %}
