{% extends 'base.html.twig' %}

{% block title %}Keys{% endblock %}

{% block body %}
    <h1>Keys</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idkeys</th>
                <td>{{ key.idkeys }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ key.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('keys_index') }}">back to list</a>

    <a href="{{ path('keys_edit', {'idkeys': key.idkeys}) }}">edit</a>

    {{ include('keys/_delete_form.html.twig') }}
{% endblock %}
