<form method="post" action="{{ path('compte_user_delete', {'iduser': compte_user.iduser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte_user.iduser) }}">
    <button class="btn">Delete</button>
</form>
