{% extends 'base.html.twig' %}

{% block title %}Edit CompteUser{% endblock %}

{% block body %}
    <h1>Edit CompteUser</h1>

    {{ include('compte_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('compte_user_index') }}">back to list</a>

    {{ include('compte_user/_delete_form.html.twig') }}
{% endblock %}
