{% extends 'base.html.twig' %}

{% block title %}CompteUser index{% endblock %}

{% block body %}
    <h1>CompteUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Iduser</th>
                <th>Login</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte_user in compte_users %}
            <tr>
                <td>{{ compte_user.iduser }}</td>
                <td>{{ compte_user.login }}</td>
                <td>{{ compte_user.password }}</td>
                <td>
                    <a href="{{ path('compte_user_show', {'iduser': compte_user.iduser}) }}">show</a>
                    <a href="{{ path('compte_user_edit', {'iduser': compte_user.iduser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compte_user_new') }}">Create new</a>
{% endblock %}
