{% extends 'base.html.twig' %}

{% block title %}New CompteUser{% endblock %}

{% block body %}
    <h1>Create new CompteUser</h1>

    {{ include('compte_user/_form.html.twig') }}

    <a href="{{ path('compte_user_index') }}">back to list</a>
{% endblock %}
