{% extends 'base.html.twig' %}

{% block title %}CompteUser{% endblock %}

{% block body %}
    <h1>CompteUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Iduser</th>
                <td>{{ compte_user.iduser }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ compte_user.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ compte_user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compte_user_index') }}">back to list</a>

    <a href="{{ path('compte_user_edit', {'iduser': compte_user.iduser}) }}">edit</a>

    {{ include('compte_user/_delete_form.html.twig') }}
{% endblock %}
