<form method="post" action="{{ path('categories_delete', {'idcategories': category.idcategories}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.idcategories) }}">
    <button class="btn">Delete</button>
</form>
