<form method="post" action="{{ path('statut_delete', {'idstatut': statut.idstatut}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ statut.idstatut) }}">
    <button class="btn">Delete</button>
</form>
