{% extends 'base.html.twig' %}

{% block title %}Statut{% endblock %}

{% block body %}
    <h1>Statut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idstatut</th>
                <td>{{ statut.idstatut }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ statut.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statut_index') }}">back to list</a>

    <a href="{{ path('statut_edit', {'idstatut': statut.idstatut}) }}">edit</a>

    {{ include('statut/_delete_form.html.twig') }}
{% endblock %}
