{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idmessage</th>
                <th>Content</th>
                <th>Objet</th>
                <th>Date</th>
                <th>PieceJointe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.idmessage }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.objet }}</td>
                <td>{{ message.date ? message.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.pieceJointe }}</td>
                <td>
                    <a href="{{ path('message_show', {'idmessage': message.idmessage}) }}">show</a>
                    <a href="{{ path('message_edit', {'idmessage': message.idmessage}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('message_new') }}">Create new</a>
{% endblock %}
