{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idmessage</th>
                <td>{{ message.idmessage }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ message.content }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ message.objet }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ message.date ? message.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PieceJointe</th>
                <td>{{ message.pieceJointe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_index') }}">back to list</a>

    <a href="{{ path('message_edit', {'idmessage': message.idmessage}) }}">edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
