<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
    </head>
    <body>
    

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{path('\message_index')}}">message
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('\caract_objets_index')}}"> Objet
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('\categories_index')}}">Categories
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('\compte_user_index')}}">Compte
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('\cp_ville_index')}}">Ville
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('\keys_index')}}">Clé
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('\objets_index')}}">Objet
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('\statut_index')}}">Statut
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('\users_index')}}">Utilisateurs
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</nav>


        {% block body %}
        
        {% endblock %}
    </body>
</html>
