<form method="post" action="{{ path('objets_delete', {'idobjets': objet.idobjets}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objet.idobjets) }}">
    <button class="btn">Delete</button>
</form>
