{% extends 'base.html.twig' %}

{% block title %}Edit Objets{% endblock %}

{% block body %}
    <h1>Edit Objets</h1>

    {{ include('objets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('objets_index') }}">back to list</a>

    {{ include('objets/_delete_form.html.twig') }}
{% endblock %}
