{% extends 'base.html.twig' %}

{% block title %}Objets index{% endblock %}

{% block body %}
    <h1>Objets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idobjets</th>
                <th>Name</th>
                <th>Description</th>
                <th>Illustration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td>{{ objet.idobjets }}</td>
                <td>{{ objet.name }}</td>
                <td>{{ objet.description }}</td>
                <td>{{ objet.illustration }}</td>
                <td>
                    <a href="{{ path('objets_show', {'idobjets': objet.idobjets}) }}">show</a>
                    <a href="{{ path('objets_edit', {'idobjets': objet.idobjets}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objets_new') }}">Create new</a>
{% endblock %}
