{% extends 'base.html.twig' %}

{% block title %}New Objets{% endblock %}

{% block body %}
    <h1>Create new Objets</h1>

    {{ include('objets/_form.html.twig') }}

    <a href="{{ path('objets_index') }}">back to list</a>
{% endblock %}
