{% extends 'base.html.twig' %}

{% block title %}Objets{% endblock %}

{% block body %}
    <h1>Objets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idobjets</th>
                <td>{{ objet.idobjets }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ objet.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ objet.description }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ objet.illustration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('objets_index') }}">back to list</a>

    <a href="{{ path('objets_edit', {'idobjets': objet.idobjets}) }}">edit</a>

    {{ include('objets/_delete_form.html.twig') }}
{% endblock %}
