<form method="post" action="{{ path('users_delete', {'user': user.user}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.user) }}">
    <button class="btn">Delete</button>
</form>
