{% extends 'base.html.twig' %}

{% block title %}nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('users_index') }}">retour à liste</a>
{% endblock %}
