{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>StreetNumber</th>
                <td>{{ user.streetNumber }}</td>
            </tr>
            <tr>
                <th>StreetName</th>
                <td>{{ user.streetName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('users_index') }}">retour à la liste</a>

    <a href="{{ path('users_edit', {'user': user.user}) }}">editer</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
